<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title BookKeeper</title>
    @*@Styles.Render("~/Content/css")*@
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/MainLayOut.css" rel="stylesheet" />
    
    @* This link is meant to help bring social media icons up... not quiet working yet. tutorial 2 *@
    @*<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">*@
    
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    
    <div class="container">
        <div class="row">
            <div class=" col-md-6 col-sm-6 col-xs-6">
                <div class="logo">
                    <h1><a href="#">Online <span>BookKeeper</span></a></h1>
                    <p>We Keep Books</p>
                </div>
            </div>

            <div class=" col-md-6 col-sm-6 col-xs-6">
                <div class="account">
                    <ul>
                        <li>
                            <div class="hidden-xs">
                                <h4><a>Call</a></h4>
                                <p>048 662 1025</p>
                            </div>

                            <div class="visible-xs">
                                <h4><a>Call</a></h4>
                                <p>048 662 1025</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="nav-menus">
                        <ul class="nav nav-pills">
                            <li class="active"><a style="border-radius:initial;" href="#">Home</a></li>
                            <li><a style="border-radius:initial;" href="#">Location</a></li>
                            <li><a style="border-radius:initial;" href="#">About</a></li>
                        </ul>
                    </div>
                </div>

            </div>

        </div>
        @RenderBody()
        <hr />
        <footer>
            <div class="row">
                <div class="col-md-12 copyright">
                    <div class="col-md-6 col-sm-6 copyright-left">
                        <p>&copy; @DateTime.Now.Year - BookKeeper. All Rights Reserved</p>
                    </div>


                    @* This code is meant to bring social media icons up, cant get it working quiet yet... tutorial 2 *@
                    @*<div class="col-md-6 col-sm-6 copyright-right">
                        <ul class="list-unstyled list-social">
                            <li><a href="#" target="_blank"><i class="fa fa-facebook-square"</a></li>
                            <li><a href="#" target="_blank"><i class="fa fa-twitter"</a></li>
                            <li><a href="#" target="_blank"><i class="fa fa-google-plus"</a></li>
                        </ul>
                    </div>*@
                </div> 
                

            </div>            
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
